*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: white;
	text-decoration: none;

}
body{
	background-color: black;
}
.nav {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
	width: 84%;
}
.nav ul li button{
	display: inline-block;
	margin: 10px 20px;
	list-style: none;
}
a:hover{
	color: red;
}
.quote{
	margin-left: 8%;
	margin-bottom: 15%;
}
.quote h1{
	color: white;
	font-size: 30px;
	margin-bottom: 20px;
	font-family: sans-serif;
}
.quote span{
	color: #E48922;
}
.quote a{
	background-color: lightblue;
	padding: 10px 18px;
	color: white;
	text-decoration: none;
	display: inline-block;
	margin: 10px 0;
	border-radius: 10px;
}
.quote a:hover{
	background-color: #E48922;
}
.gam{
	background-image: url("k.jpg");
}


